*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Barlow", sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%, 
        #1f3757  0%, 
        #131537 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard{
    width: 650px;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 30px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin-left: 30px;
}

.score{
    width: 135px;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1{
    color: #565468;
    font-size: 50px;
}

.score p{
    color: #2a45c2;
    font-size: 20px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 2.5px;
}

.hands{
    width: 476px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    background-image: url("images/triangle.png");
    background-repeat: no-repeat;
    background-position: center;
}

.hands img{
    width: 160px;
}

.scissors{
    margin-left: 20px;
}

.paper{
    margin-right: 20px;
}

.hands .hand{
    cursor: pointer;
    transition: all 0.25s;
}

.hands .hand:hover{
    transform: translate3d(0px, -8px, 0px);
}

.contest{
    width: 900px;
    justify-content: space-between;
    margin-top: 50px;
    display: none;
}

.contest img{
    width: 200px;
    height: 200px;
}

.contest > div{
    flex: 1;
}

.contest h1{
    color: white;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.contest .handImageContainer{
    display: flex;
    justify-content: center;
}

.referee{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.referee h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.newGame{
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    color: hsl(229, 25%, 31%);
    margin-top: -12px;
    font-weight: 800;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.15s;
}

.newGame:hover{
    background-color: rgb(179, 177, 177);
    transform: translate3d(0px, -2px, 0px);
}

